:root {
  --main-color: #ddf2fa;
  --secondary-color: #06325f;
  --third-color: #ff9900;
  --section-color: #4abfdf;
}
body {
  background-color: var(--section-color);
  font-family: "Fustat", sans-serif;
}
.navbar {
  background-color: var(--secondary-color);
}
/* Start Landing */
.landing {
  padding-top: 60px;
  background-color: var(--main-color);
  min-height: calc(100vh - 72px);
}
/* End Landing */

.mybtn {
  background-color: var(--secondary-color);
  color: var(--main-color);
  font-weight: bolder;
  padding: 0.5rem 1rem;
}
.mybtn:hover {
  color: black;
  background-color: #06335f60;
}
.special-heading {
  color: var(--section-color);
  font-size: 100px;
  text-align: center;
  font-weight: 800;
  letter-spacing: -3px;
  margin: 0;
}
.special-heading + p {
  margin: -30px 0 0;
  font-size: 20px;
  text-align: center;
  color: #06325f;
}
@media (max-width: 767px) {
  .special-heading {
    font-size: 60px;
  }
  .special-heading + p {
    margin-top: -20px;
  }
}

/* Start services */
.services {
  padding-bottom: 60px;
  background-color: var(--main-color);
}
/* End Services  */
/* Start Location  */
.location {
  padding-bottom: 60px;
  background-color: var(--main-color);
}
/* End Location */
/* Contact Start  */
.contact {
  padding-top: 60px;
  background-color: var(--main-color);
}
.contact .info {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}
.contact .info .label {
  font-size: 40px;
  font-weight: 800;
  color: var(--section-color);
  letter-spacing: -2px;
  margin-bottom: 15px;
}
.contact .info .link {
  display: block;
  font-size: 35px;
  font-weight: 800;
  color: var(--secondary-color);
  text-decoration: none;
  margin-bottom: 15px;
}
.contact .info .social {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 16px;
}
@media (max-width: 767px) {
  .contact .info .link,
  .contact .info .label {
    font-size: 25px;
  }
}
/* Contact End  */
/* Footer Start  */
.footer {
  background-color: var(--secondary-color);
  color: var(--main-color);
  padding: 30px 10px;
  text-align: center;
  font-size: 17px;
}
.footer span a {
  text-decoration: none;
  font-weight: bold;
  color: var(--third-color);
}
/* Footer End */
